@media only screen and (max-width: 369px) {

    h2 {
        font-size: var(--fs-h2-xsmall);
        letter-spacing: 0;
    }
}


@media only screen and (min-width: 370px) {

    h2 {
        font-size: var(--fs-h2-small);
    }
}


@media only screen and (min-width: 415px) {

    h2 {
        font-size: var(--fs-h2);
    }
}


@media only screen and (min-width: 768px) {

    .scroll-to-top-btn {
        width: 45px;
        height: 45px;
    }

    h1 {
        font-size: var(--fs-h1-pc);
    }

    h2 {
        font-size: var(--fs-h2-pc);
    }

    h3 {
        font-size: var(--fs-h3-pc);
    }

    main,
    .header-content,
    .footer-content {
        max-width: 800px;
        margin: 0 auto;
    }

    .new-post {
        height: 350px;
    }

    .newest-post .new-post h3 {
        max-width: 800px;
    }

    .featured-card {
        min-width: 190px;
    }

    .how-to-card {
        height: 160px;
    }

    .partner-logos {
        max-width: 500px;
    }

    .cozy-earth {
        width: 270px;
        max-width: none;
    }

    .amazon {
        width: 50px;
        max-width: none;
    }

    .walmart {
        width: 190px;
        max-width: none;
    }

    .saatva {
        width: 135px;
        max-width: none;
    }

    .hm-home {
        width: 145px;
        max-width: none;
    }

    .ellos {
        width: 85px;
        max-width: none;
    }

    .banner-img img {
        max-height: 400px;
    }

    .large-post,
    .small-post {
        height: 400px;
    }
}


@media only screen and (min-width: 1200px) {

    .scroll-to-top-btn {
        right: 40px;
        width: 50px;
        height: 50px;
    }

    p,
    li,
    li a {
        font-size: var(--fs-body-pc);
    }

    main,
    .header-content,
    .footer-content {
        max-width: 1000px;
    }

    .new-post {
        height: 400px;
    }

    .most-read {
        padding: 16px 0;
    }

    .featured-slider {
        padding: 12px 16px;
        gap: 16px;
    }

    .featured-card {
        min-width: 220px;
    }

    .how-to-posts {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }

    .how-to-card {
        grid-template-columns: 1fr;
        grid-template-rows: 300px 120px;
        height: auto;
        align-items: start;
    }

    .partner-logos {
        max-width: 550px;
    }

    .cozy-earth {
        width: 320px;
    }

    .amazon {
        width: 60px;
    }

    .walmart {
        width: 190px;
    }

    .saatva {
        width: 160px;
    }

    .hm-home {
        width: 175px;
    }

    .ellos {
        width: 100px;
    }

    .banner-img img {
        max-height: 500px;
    }

    .large-post,
    .small-post {
        height: 500px;
    }

    .large-posts {
        gap: 32px;
    }

    .small-posts {
        gap: 32px;
        padding-top: 32px;
    }
}