@import url(imports/constants.css);
@import url(imports/variables.css);
@import url(components/header.css);
@import url(components/footer.css);

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1,
h2,
h3 {
    font-family: var(--ff-heading);
    font-weight: var(--fw-300);
    line-height: 1.2;
}

h1 {
    font-size: var(--fs-h1);
    color: var(--clr-charcoal);
    letter-spacing: var(--ls-3);
    text-align: center;
    text-transform: var(--tt-lower);
    margin-block: 16px;
}

h2 {
    font-size: var(--fs-h2);
    letter-spacing: var(--ls-2);
    text-transform: var(--tt-upper);
    text-align: center;
    margin-block: var(--mgn-zero);
}

h3 {
    font-size: var(--fs-h3);
    color: var(--clr-charcoal);
    letter-spacing: var(--ls-1);
    text-transform: var(--tt-lower);
    text-align: center;
    margin-block: 16px;
}

p,
li,
li a {
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    font-weight: var(--fw-300);
    color: var(--clr-charcoal);
    line-height: 1.6;
    margin-block: var(--mgn-zero);
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}


/* breadcrumb navigation */
.breadcrumb-items {
    list-style: none;
    padding-left: 24px;
    display: flex;
    gap: 4px;
}


/* index page */
.newest-post .new-post h2 {
    padding-bottom: 100px;
}

.newest-post .new-post h3 {
    width: auto;
    max-width: 300px;
    padding: 16px 48px;
    align-self: center;
}

.featured-slider {
    display: flex;
    overflow-x: scroll;
    gap: 12px;
    padding: 12px 0;
}

.featured-card {
    display: grid;
    grid-template-rows: 2fr 1fr;
    min-width: 160px;
    max-width: 250px;
    width: 100%;
}

.featured-card img {
    height: 100%;
    object-position: 30% 0;
}

.featured-card h3 {
    padding: 16px;
    margin-block: var(--mgn-zero);
    border-radius: 0 0 8px 0;
}

.heart {
    width: 60px;
    margin: 6px;
    margin-bottom: 12px;
    filter: invert(70%) sepia(11%) saturate(448%) hue-rotate(350deg) brightness(92%) contrast(93%);
}

.insta-posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "post-1 post-2 post-5 post-5"
        "post-3 post-4 post-5 post-5";
    gap: 12px;
    padding: 12px 0;
}

.post-1 {
    grid-area: post-1;
}

.post-2 {
    grid-area: post-2;
}

.post-3 {
    grid-area: post-3;
}

.post-4 {
    grid-area: post-4;
}

.post-5 {
    grid-area: post-5;
}

.so-me p {
    text-align: right;
}

.how-to {
    position: relative;
    z-index: 0;
}

.how-to h2 {
    z-index: -1;
}

.search {
    position: absolute;
    top: 8px;
    right: 12px;
    width: 100px;
    filter: invert(100%) sepia(1%) saturate(983%) hue-rotate(262deg) brightness(116%) contrast(100%);
    z-index: -2;
}

.how-to-posts {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 12px 0;
}

.how-to-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    height: 120px;
}

.how-to-card img {
    border-radius: 8px 0 0 0;
    height: 100%;
}

.how-to-card h3 {
    padding: 2px;
}

.collab-logos {
    display: grid;
    grid-template-columns: 1fr 1fr .5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "cozy-earth cozy-earth cozy-earth amazon"
        "walmart walmart saatva saatva"
        "hm-home hm-home ellos ellos";
    gap: 16px;
    padding: 24px;
    max-width: 500px;
    margin: 0 auto;
}

.cozy-earth {
    grid-area: cozy-earth;
    max-width: 220px;
    justify-self: start;
}

.amazon {
    grid-area: amazon;
    max-width: 40px;
    justify-self: end;
}

.walmart {
    grid-area: walmart;
    max-width: 156px;
    justify-self: start;
}

.saatva {
    grid-area: saatva;
    max-width: 110px;
    justify-self: end;
}

.hm-home {
    grid-area: hm-home;
    max-width: 120px;
    justify-self: start;
}

.ellos {
    grid-area: ellos;
    max-width: 70px;
    justify-self: end;
}

@media only screen and (max-width: 370px) {
    h2 {
        font-size: var(--fs-h2-xsmall);
        letter-spacing: 0;
    }
}

@media only screen and (min-width: 371px) and (max-width: 420px) {
    h2 {
        font-size: var(--fs-h2-small);
    }
}


/* blog page */
.large-posts {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.large-post {
    display: grid;
    grid-template-rows: auto 180px;
    justify-items: center;
    background-size: cover;
    background-position: center;
    padding-top: 0;
}

.large-post h3 {
    width: 100%;
    align-self: end;
    padding: 12px;
    margin-block: var(--mgn-zero);
}

.small-posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 16px;
    row-gap: 24px;
    padding-top: 24px;
}

.small-post {
    display: grid;
    grid-template-rows: 240px auto;
    justify-items: center;
    background-size: cover;
    background-position: center;
    padding-top: 0;
}

.small-post h3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin-block: var(--mgn-zero);
}

.small-post h2 {
    width: 100%;
    text-align: center;
    margin-block: var(--mgn-zero);
}


/* blogpost page */
.blogpost,
.comment-section,
.comment-form,
.comment {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.banner-img,
.inner-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-img img {
    max-height: 400px;
}

.inner-img img {
    width: 50%;
}

.blogpost img {
    object-position: 100% 60%;
}

.blogpost img:hover {
    cursor: pointer;
}

.comment-form,
.comment {
    padding: 16px;
    gap: 8px;
}

.comment-section .name {
    margin-block: var(--mgn-zero);
}



.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.733);
    margin-top: -1px;
    animation: zoom 0.3s ease-in-out;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.modal img {
    width: 90%;
}

.modal img:hover {
    cursor: auto;
}

img.close-btn {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    width: 30px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
}

img.close-btn:hover {
    cursor: pointer;
}