@import url(./variables.css);

.text-charcoal {
    color: var(--clr-charcoal);
}

.text-white {
    color: var(--clr-white);
}

.text-white-80 {
    color: var(--clr-white-80);
}

.text-beige {
    color: var(--clr-dark-beige);
}

.text-green {
    color: var(--clr-dark-green);
}

.fs-body-small {
    font-size: var(--fs-body-small);
}

.fw-medium {
    font-weight: var(--fw-500);
}

.tt-uppercase {
    text-transform: var(--tt-upper);
}

.tt-lowercase {
    text-transform: var(--tt-lower);
}

.tt-capitalize {
    text-transform: var(--tt-cap);
}

.bg-light-beige {
    background-color: var(--clr-light-beige);
}

.bg-medium-beige-90 {
    background-color: var(--clr-medium-beige-90);
}

.bg-dark-beige {
    background-color: var(--clr-dark-beige);
}

.bg-light-green {
    background-color: var(--clr-light-green);
}

.bg-dark-green {
    background-color: var(--clr-dark-green);
}

.bg-charcoal {
    background-color: var(--clr-charcoal);
}

.rounded {
    border-radius: 8px 0;
}

.pad-all {
    padding: 12px;
}

@media only screen and (min-width: 1200px) {
    .pad-all {
        padding: 16px;
    }
}

.mgn-text {
    margin: 24px 32px;
}

.mgn-text-small {
    margin: 16px 24px;
}

.justify-r {
    justify-self: right;
}