@font-face {
    font-family: Popstick;
    src: url("../../resources/fonts/Popstick-Demo-Regular.ttf");
}

:root {
    /* colors */
    --clr-light-beige: #f8efde;
    --clr-medium-beige-90: #caba9b90;
    --clr-dark-beige: #b1a387;

    --clr-light-green: #e6e9ce;
    --clr-dark-green: #95a16f;

    --clr-white: #ffffff;
    --clr-white-80: #ffffff80;
    --clr-charcoal: #333333;

    /*--clr-light-beige-90: #f5f0ea90;*/
    /*--clr-medium-beige: #e5dcd2;*/
    /*--clr-medium-green: #B3D2A5;*/

    /* typography */
    --ff-heading: Popstick;
    --ff-body: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    ;

    --fs-h1: 2.2rem;
    --fs-h2: 6rem;
    --fs-h2-small: 5.2rem;
    --fs-h2-xsmall: 4.6rem;
    --fs-h3: 1.4rem;
    --fs-body: 1rem;
    --fs-body-small: 0.8rem;

    --fw-300: 300;
    --fw-500: 500;

    --tt-upper: uppercase;
    --tt-lower: lowercase;
    --tt-cap: capitalize;

    --ls-1: 1px;
    --ls-2: 2px;
    --ls-3: 3px;
    /*--ls-4: 4px;*/

    /* margin */
    --mgn-zero: 0;
}